// szablon z sm tylko popraw dopasuj go troche i będzie klasa
/* medium devices (phones, min: 600px and max: 767.98px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px){
//background padding
  .bg {
    padding: 0 10px;
  }
// change in all website
  p, h3 {
    font-size: 0.7rem;
  }
//changes in reasuble component
  label {
    font-size: 0.6rem;
    margin-left: 20px;
  }
  #select {
    font-size: 0.6rem;
    padding: 3px;
    margin-left: 5px;
  }
// section 1 topBar
  .topBar {
    padding: 10px 0;
    &__tabs {
      text-align: start;
      margin-left: 15px;
      a {
        display: inline-block;
        margin: 3px 0;
      }
    }
    &__variables {
      padding-left: 0px;
    }
  }
// section 2 search
//OPISZ SEKCJE JAK WROCISZ I POSPRAWDZAJ KOD ABY
// BYL CZYTELNY. ZERKNIJ NA RESIZERZE.
  .search__title {
    padding: 40px 40px 120px 40px;
  }
  .search div input {
    width: 70%;
    height: 45px;
    border: solid 5px lightgray;
    padding: 0 30px;
  }
  .search div input:hover, .search div input:focus {
    border: solid 5px gray;
  }
  .search__lastChoosen {
    font-size: 0.6rem;
  }
  .search div svg {
    font-size: 25px;
    margin-top: 10px;
    margin-left: calc(15% + 10px);
  }
  .search div .submitIcon {
    margin-left: calc(77%);
  }
// section 3 trendySneaker
  .trendySneakers {
    padding: 90px 0px 10px 0px;
    &__list li {
      margin: 3px 0;
    }
    &__sponsors {
      padding: 50px 0 40px;
    }
  }
// section 4 mainList
  .sneakerList {
    padding: 50px 20px;
    &__top {
      padding: 0 20px;
    }

    &__contentHeader {
      margin: 0 100px 0 100px;
    }
  }

  .sneakerItem {
    padding: 15px 10px 15px 10px;
    &__data {
      padding-left: 3px;
    }
  }

  .basicData {
    &__name {
      padding: 0 5px 0 0;
    }
    &__brand {
      padding-left: 5px;
    }
  }

  .awgPrice {
    p {
      font-size: 0.6rem;
    }
    &__btn {
      font-size: 0.8rem;
      padding: 7px 15px;
    }
  }

  .pagination {
    padding: 20px 0;
  }
//section 5 footer
  .bgFooter {
    padding: 30px 10px 30px;
  }

  .footer {
    padding-left:10px;
    .part1 .bottom {
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  .scrollBtn {
    font-size: 0.8rem;
    padding: 5px 12px;
  }
}
