/* medium devices (tablets, min: 768px and max: 991.98px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px){
//background padding
  .bg {
    padding: 5px 30px;
  }
//changes in Select.js component
  label {
    font-size: 0.6rem;
    margin-left: 20px;
  }
  #select {
    font-size: 0.7rem;
    padding: 4px;
    margin-left: 5px;
  }
// section 1 topBar
  .topBar {
    padding: 10px 0;
    &__tabs {
      text-align: start;
      margin-left: 15px;
      a {
        white-space: nowrap;
        margin: 3px 0;
      }
    }
    &__variables {
      padding-left: 0px;
    }
  }
// section 2 search
  .search div input {
    width: 70%;
    height: 45px;
    border: solid 7px lightgray;
    padding: 0 30px;
  }
  .search div input:hover, .search div input:focus {
    border: solid 7px gray;
  }
  
  .search__lastChoosen {
    font-size: 0.6rem;
  }
  .search div svg {
    font-size: 25px;
    margin-top: 10px;
    margin-left: calc(15% + 10px);
  }
  .search div .submitIcon {
    margin-left: calc(80%);
  }
// section 3 trendySneaker
  .trendySneakers {
    padding: 110px 0px 10px 0px;
    &__sponsors {
      padding: 60px 0 40px;
    }
  }
// section 4 mainList
  .sneakerList {
    padding: 50px 20px;
    &__top {
      padding: 20px 40px;
    }
    &__contentHeader {
      margin: 0px 180px 0 160px;
    }
  }

  .sneakerItem {
    padding: 15px 20px 15px 20px;
    &__data {
      padding-left: 10px;
    }
  }

  .awgPrice {
    p {
      font-size: 0.6rem;
    }
    &__btn {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }

  .pagination {
    padding: 20px 0;
  }
//section 5 footer
  .bgFooter {
    padding: 30px;
  }

  .footer {
    padding-left:10px;
    .part1 .bottom {
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  .scrollBtn {
    font-size: 0.8rem;
    padding: 5px 12px;
  }
}
