// Select component
label {
  font-size: 0.8rem;
  align-self: center;
  margin-left: 30px;
}
#select {
  font-size: 0.7rem;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background-color: black;
}
