// Select component
label {
  align-self: center;
  margin-left: 25px;
}
#select {
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: black;
}
