//section 4
.bgSneakerList {
  background-image: url("../assets/bg list.png");
  background-repeat: round;
  background-color: #17171c;
  border-top: solid 3px green;
  padding: 0 50px;
}

// use flex i top section in sneakerList
.flex {
  display: flex;
  &__spaceBetween {
    justify-content: space-between;
  }
}

//section 4 - mainList
.sneakerList {
  max-width: 1350px;
  padding: 110px 110px;
  &__top {
    padding: 0 110px;
    h3 {
      color: white;
    }
    p {
      text-align: left;
    }
  }
  &__middle {
    background: #181818;
    opacity: 0.97;
    border-radius: 20px;
  }
  &__paddingContainer {
    padding: 20px 0px;
  }
  &__contentHeader {
    margin: 0 300px 0 210px;
    padding: 0 5px;
  }
  &__contentItem {
    padding: 0;
  }
}

.sneakerItem {
  display: flex;
  width: 100%;
  padding: 40px 110px 40px 90px;
  cursor: pointer;
  &__image {
    display: flex;
    p.position {
      transform: rotate(-90deg);
      align-self: flex-end;
    }
    div.img1 {
      width: 90px;
      height: 90px;
      background-color: white;
      background-image: url("../assets/shoeList1.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
      margin-left: 5px;
    }
    div.img2 {
      width: 90px;
      height: 90px;
      background-color: white;
      background-image: url("../assets/shoeList2.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
  &__data {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 15px;
  }
}

.sneakerItem:hover {
  background-color: #262626;
  transition: 0.4s;
}

.basicData {
  display: flex;
  position: relative;
  padding: 5px 0;
  &__specificName {
    position: absolute;
    top: 15px;
  }
  &__name {
      align-self: end;
      padding: 0 15px 0 0;
      color: #fff;
  }
  &__brand {
    align-self: end;
    padding-left: 10px;
    border-left: solid 3px #6e6e77;
  }
}

.awgPrice {
  text-align: end;
  &__stock {
    padding: 0 20px 5px 0;
    font-size: 0.9rem;
    margin: 0;
  }
  &__price {
    display: inline;
    padding-right: 30px;
    strong {
      color: #fff;
      font-size: 1rem;
    }
  }
  &__btn {
    display: inline;
    border-radius: 25px;
    background-color: rgb(0, 97, 32, 0.4);
    padding: 10px 25px;
    color: rgb(26, 255, 26);
    opacity: 0.95;
  }
  &__btn:hover {
    color: rgb(0, 355, 0);
    background-color: rgb(0, 97, 32, 0.6);
  }
}

.pagination {
  justify-content: center;
  font-size: 20px;
  letter-spacing: 7px;
  border-top: solid 1.5px grey;
  padding: 40px 0;
  a, a:hover, a:focus {
   text-decoration: none;
   color: inherit;
 }
 a:active {
   color: rgb(0, 97, 32, 0.4);
 }
 li:nth-child(2)>a {
   color: rgb(26, 255, 26);
   font-weight: bold;
 }
 a:hover {
   font-size: 1.2rem;
   color: white;
 }
}
