//section 4 mainList has own file .scss

// section 1
.bgTopBar {
  background-color: black;
}
//section 2
.bgSearch {
  background-image: url("../assets/Layer 725.jpg");
  background-repeat: round;
}
//section 3
.bgTrendySneakers {
  background-image: url("../assets/first bck.png");
  background-repeat: round;
  background-color: #17171c;
}

//section 4 mainList has own file mainList.scss

//section 5
.bgFooter {
  background-image: url("../assets/Group 60.png");
  background-repeat: round;
  background-color: black;
  padding: 45px 160px 45px;
}


// section 1 - TopBar
.navTopBar {
  max-width: 1350px;
  max-height: 80px;
  padding: 10px 50px;
}

.topBar {
  display: flex;
  align-items: center;
  margin:0;
  padding: 20px 0;
  font-size: 0.7rem;
  list-style: none;
  &__logo {
    flex-grow: 2;
    flex: none;
  }
  &__tabs {
    flex-grow: 1;
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    .icon, .icon:hover {
      color: white;
    }
    a {
      padding: 0 15px;
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      color: white;
      transition: 0.3s;
    }
  }
  &__variables {
    display: flex;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

//section 2 - search
.search {
  position: relative;
  max-width: 1350px;
  padding: 50px;
  text-align: center;
  &__title {
    width: 100%;
    padding: 80px 80px 150px 80px;
    color: white;
    p {
      letter-spacing: 0.5em;
    }
  }
  &__containerInput {
    position: absolute;
    height: 250px;
    bottom: -125px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
  }
  div {
    width: 100%;
    input {
      width: 50%;
      height: 70px;
      background-color: #fff;
      border-radius: 10px;
      border: solid 10px lightgray;
      padding: 0 55px;
      position: relative;
    }
    input:focus, input:hover {
      border: solid 10px gray;
    }
    svg {
      display: block;
      position: absolute;
      color: white;
      z-index: 2;
      font-size: 35px;
      margin-top: 17.5px;
      margin-left: calc(25% + 10px);
    }
    .submitIcon {
      margin-left: calc(75% - 50px);
      padding: 2px 6px;
      background-color: green;
      border-radius: 5px;
      cursor: pointer;
    }
    .submitIcon:hover {
      background-color: white;
      color: green;
    }

  }
  &__lastChoosen {
    flex-basis: 100%;
    margin: 10px 0;
    font-size: 0.9rem;
    section {
      display: inline;
      border-right: 2px solid;
      margin-right: 15px;
      padding-right: 5px;
    }
    p {
      display: inline;
      margin: 0 15px;
      color: grey;
    }
  }
}

// section 3 - trendySneakers
.trendySneakers {
  max-width: 1350px;
  padding: 130px 50px 40px 50px;
  color: #fff;
  h3 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align:left;
    border-bottom: 1px solid grey;
    img {
      vertical-align: inherit;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__sponsors {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 120px 0 30px;
    li {
      margin: 0 15px;
    }
  }
}

.trendySneaker {
  opacity: 0.7;
  position: relative;
  height: 175px;
  width: 280px;
  border-radius: 15px;
  border: solid 2px black;
  background-color: grey;
  cursor: pointer;
  p {
    position: absolute;
    font-size: 1.2rem;
  }
  &__brand {
    top: 15px;
    left: 25px;
    text-transform: uppercase;
  }
  &__price {
    right: 25px;
    top:15px;
    padding: 2px 6px;
    background-color: green;
    border-radius: 5px;
  }
  &__number {
    left: 25px;
    bottom: 30px;
    font-size: 1.6rem;
  }
  &__img {
    left: 65px;
    top: 15px;
    background-image: url("../assets/shoe1.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  &__name {
    bottom: 0px;
    left: 25px;
  }
}

.trendySneaker:hover {
  opacity: 1;
  border: none;
  transition: 0.5s;
}

//section 5 - Footer

.footer {
  max-width: 1100px;
  display: flex;
  padding-left:100px;
  p:hover {
    cursor: pointer;
    transition: 0.6s;
    color: white;
  }
  .part1 {
    flex-basis: 80%;
    display:flex;
    flex-wrap:wrap;
    .top {
      flex-basis:100%;
      display:flex;
      .hd {
        font-weight: bold;
        color: white;
      }
    }
    .bottom {
      flex-basis: 100%;
      display:flex;
      justify-content: space-between;
      padding-top: 30px;
      margin-top: 70px;
      border-top: 1px solid grey;
    }
  }
}

.scrollBtn {
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid grey;
  color: white;
  font-size: 0.9rem;
  padding: 8px 17px;
}

.scrollBtn:hover {
  background-color: white;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  transition: 0.8s;
  border: 1px solid black;
}
